html {
    padding: 0;
    margin: 0;
}

body {
    position: relative;
    padding: 0;
    margin: 0;
}

img {
    display: block;
    width: 100%;
}

#game-trump {
    position: absolute;
    transform: translate(-50%,50%);
    
    width: 20%;

    filter: hue-rotate(90deg);
}

#game-sceneBG {
    position: absolute;
    z-index: -1;

    left: 0;
    right: 0;
    bottom: 0;
    top: 0;

    background-image: url('../assets/cartoon-office-BG.png');
    background-size: cover;
    background-position: center;

}

.game-poop {
    position: absolute;
    transform: translate(-50%,-50%);
    z-index: 999999;
}

#game-world {
    height: 100vh;
    width: 100%;

    /* z-index: 1; */
}

.bar {
    width: 30%;
    min-height: 20px;
    height: 20px;

    /* z-index: 1; */

    border: 1px solid red;
}


.bar__level {
    /* width: 60%; */
    /* min-height: 100%; */
    height: 100%;

    /* z-index: 1; */

    background-color: blue;
}